{% load static %}
<html>
    <head>
        <title>Jack Moody</title>
        <link rel="stylesheet" href="{% static 'css/argon.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        {% include 'blog/_navbar.html' %}
        {% block nav %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% include 'blog/_footer.html' %}
        {% block footer %}
        {% endblock %}
    </body>

</html>