{% extends 'blog/base.html' %}

{% block content %}
    <section class="section bg-gradient-light">
        <div class="container">
            <div class="row justify-content-center text-center">
                    <h1 class="display-2 text-white">{{ post.title }}</h1>
            </div>
        </div>
    </section>
    <div class="container pt-4">


        <div class="row">
            <div class="col-11 offset-1">
                <p>{{ post.body }}</p>
            </div>

        </div>
    </div>
{% endblock %}